@page "{id:int}"
@model RazorPagesFromScratch.Pages.Lists.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var listId = RouteData.Values["id"];
}

<html>
<head>
    <title>To-Do lists</title>
</head>
<body>
    <h1>Your To-Do list</h1>
    <form method="post" action="/lists/@listId/AddItem" asp-antiforgery="true">
        <input asp-for="Item.Text" placeholder="Enter a to-do item" />
    </form>
    <table id="id_list_table">
        @foreach (var item in Model.Items.Select((value,index) => new { value, index }))
        {
            <tr><td>@(item.index+1): @item.value.Text</td></tr>
        }

    </table>
</body>
</html>