@page
@model RazorPagesFromScratch.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <title>To-Do lists</title>
</head>
<body>
    <h1>Your To-Do list</h1>
    <form method="post" action="/Index" asp-antiforgery="true">
        <input asp-for="item_text" placeholder="Enter a to-do item" />
    </form>
    <table id="id_list_table">
        <tr><td>1: @Model.item_text</td></tr>
    </table>
</body>
</html>